<div class="container">
<div class="row">
<div class="col-xs-4">

<%= render 'list', user: current_user, book: @book %>

</div>

<div class="col-xs-8">
<h2>Users</h2>
<table class="table table-striped">
	<tr>
		<th>image</th>
		<th>name</th>
		<th></th>
	</tr>
	<% @user.each do |user| %>
	<tr>
		<td> <%= attachment_image_tag user, :image, :fill, 50, 50, format: 'jpeg', fallback: "img/no-image.jpg", :size => "60x60" %></td><!-- tag user 聞く -->
		<td> <%= user.name %></td>
		<td> <%= link_to "show", user_path(user), class: "user_#{user.id}" %></td>
	</tr>
	<% end %>
</table>
</div>
</div>
</div>